Repository jayanthkoushik/alphanet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, cspell, mdc

black:
  name: blacken code
  entry: black -C
  language: system

isort:
  name: sort python imports
  entry: isort
  language: system

pylint:
  name: lint python files
  entry: sh -c "python $(which pylint) $@"
  language: system

mypy:
  name: type check python files
  entry: mypy .
  language: system
  pass_filenames: false

cspell:
  name: spell check
  language: system
  entry: npx cspell

mdc:
  name: build paper pdf
  language: system
  pass_filenames: false
  entry: sh -c "(cd paper && pipx run --spec shiny-mdc shinymdc -i main.md -o main.pdf -t stylish -m smalltabs=true,nonidan=true)"

Update with new ltr/inat results
  config/datasets.toml.template
  paper/figures/_www/appendix/models_split_top1_deltas_vs_rho.svg
  paper/figures/_www/appendix/models_split_top1_deltas_vs_rho_dark.svg
  paper/figures/_www/appendix/models_split_top5_deltas_vs_rho.svg
  paper/figures/_www/appendix/models_split_top5_deltas_vs_rho_dark.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr_dark.svg
  paper/figures/_www/appendix/rhos_cls_deltas_cifarlt_ltr.svg
  paper/figures/_www/appendix/rhos_cls_deltas_cifarlt_ltr_dark.svg
  paper/figures/appendix/models_split_top1_deltas_vs_rho.pgf
  paper/figures/appendix/models_split_top5_deltas_vs_rho.pgf
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img0.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img1.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img2.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.pgf
  paper/figures/appendix/rhos_cls_deltas_cifarlt_ltr.pgf
  paper/main.md
  paper/main.pdf
  paper/sections/1_intro.md
  paper/sections/2_related.md
  paper/sections/4_experiments.md
  paper/sections/5_conclusion.md
  paper/sections/appendix/rhosweep.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_cifarlt.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_inat.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_inatlt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_cifarlt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_inat.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_inatlt.md
  paper/tables/datasets_split_accs_vs_rho_ltr.md
  run_genplots.sh
  run_gentables.sh
  run_plot_acc_deltas_vs_rhos.py
Due: black, isort, pylint, mypy, cspell, mdc

Fix tables_stats copying in workflow
  .github/workflows/build-website.yml
Due: none

Make various fixes
  README.md
  alphanet/plot.py
  paper/README.md
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025.svg
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025_dark.svg
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05.svg
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05_dark.svg
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1.svg
  paper/figures/_www/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1_dark.svg
  paper/figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025.pgf
  paper/figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05.pgf
  paper/figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1.pgf
  paper/main.pdf
  paper/sections/1_intro.md
  paper/sections/2_related.md
  paper/sections/3_method.md
  paper/sections/4_experiments.md
  paper/sections/5_conclusion.md
  paper/sections/6_acknowledgements.md
  paper/sections/appendix/ksweep.md
  paper/sections/appendix/perclsdels.md
  paper/sections/appendix/rhosweep.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_inat.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_inat.md
  paper/tables/appendix/rhos_split_top1_accs_vs_k_imagenetlt_crt_cosine.md
  paper/tables/appendix/rhos_split_top1_accs_vs_k_imagenetlt_crt_euclidean.md
  paper/tables/appendix/rhos_split_top5_accs_vs_k_imagenetlt_crt_cosine.md
  paper/tables/appendix/rhos_split_top5_accs_vs_k_imagenetlt_crt_euclidean.md
  paper/tables/appendix/static/hyperparams.md
  run_genplots.sh
  run_gentables.sh
Due: black, isort, pylint, mypy, cspell, mdc

Use arxiv friendly template
  .pre-commit-config.yaml
  paper/README.md
  paper/figures/_arxiv/all_pred_changes_nn_all_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/all_pred_changes_nn_semantic4_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025.pdf
  paper/figures/_arxiv/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1.pdf
  paper/figures/_arxiv/appendix/models_split_top1_deltas_vs_rho.pdf
  paper/figures/_arxiv/appendix/models_split_top5_deltas_vs_rho.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_imagenetlt_crt.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_imagenetlt_lws.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_imagenetlt_ride.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_placeslt_crt.pdf
  paper/figures/_arxiv/appendix/rhos_cls_delta_vs_nndist_placeslt_lws.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_cifarlt_ltr.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_cifarlt_ride.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_imagenetlt_crt.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_imagenetlt_lws.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_imagenetlt_ride.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_placeslt_crt.pdf
  paper/figures/_arxiv/appendix/rhos_cls_deltas_placeslt_lws.pdf
  paper/figures/_arxiv/base_pred_changes_nn_few_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/base_pred_changes_nn_semantic4_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/cls_acc_vs_nndist_imagenetlt_crt_baseline.pdf
  paper/figures/_arxiv/cls_delta_vs_nndist_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/doggies.pdf
  paper/figures/_arxiv/euclidean_random_split_deltas_vs_rho_imagenetlt_crt.pdf
  paper/figures/_arxiv/few_pred_changes_nn_base_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/few_pred_changes_nn_semantic4_imagenetlt_crt_rho_05.pdf
  paper/figures/_arxiv/pipeline.pdf
  paper/figures/_arxiv/pred_counts_imagenetlt_crt_baseline.pdf
  paper/main.md
  paper/main.pdf
  paper/sections/1_intro.md
  paper/sections/appendix/perclsdels.md
  paper/template.tex
  run_genplots.sh
  run_plot_acc_deltas_vs_rhos.py
Due: black, isort, pylint, mypy, cspell, mdc

ci: deploy with paje
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025_dark.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05_dark.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1_dark.svg
  index.html
Due: none

Update table formatting
  paper/main.pdf
  paper/tables_stats/dataset_splits.md
  paper/tables_stats/dataset_stats.md
  paper/template.tex
Due: cspell, mdc

Fix table alignment
  paper/tables_stats/_www/dataset_stats.md
Due: cspell, mdc

ci: deploy with paje
  index.html
Due: none

ci: deploy with paje
  404.html
  index.html
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  cspell: any of: paper/.*\.md|README\.md
  mdc: any of: paper/.*
