Repository jayanthkoushik/alphanet: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, mypy, pydocstyle, nbstrip, cspell, mdc

black:
  name: blacken code
  entry: poetry run black
  language: system

isort:
  name: sort python imports
  entry: poetry run isort
  language: system

pylint:
  name: lint python files
  entry: poetry run pylint
  language: system

mypy:
  name: type check python files
  entry: poetry run mypy .
  language: system
  pass_filenames: false

pydocstyle:
  name: lint python docstrings
  entry: poetry run pydocstyle
  language: system

nbstrip:
  name: remove metadata from notebooks
  entry: poetry run jupyter nbconvert --inplace --ClearMetadataPreprocessor.enabled=True
  language: system

cspell:
  name: spell check
  language: system
  entry: npx cspell

mdc:
  name: build paper pdf
  language: system
  pass_filenames: false
  entry: sh -c "(cd paper && poetry run shinymdc -i main.md -o main.pdf -t stylish -m smalltabs=true)"

Add dev setup instructions
  README.md
Due: cspell

Fix pickling
  alphanet/train.py
Due: black, isort, pylint, mypy, pydocstyle

Update readme
  README.md
Due: cspell

Normalize for cosine dist
  alphanet/_nns.py
  alphanet/plot.py
  alphanet/train.py
Due: black, isort, pylint, mypy, pydocstyle

ci: deploy with paje
  figures/pred_counts_imagenetlt_crt_baseline.svg
  figures/pred_counts_imagenetlt_crt_baseline_dark.svg
Due: none

Fix as_dict
  alphanet/train.py
Due: black, isort, pylint, mypy, pydocstyle

Remove svgs
  results/main/cifar100_resnet32_ltr/split_acc_delta_vs_rho.svg
  results/main/cifar100_resnet32_ride/split_acc_delta_vs_rho.svg
  results/main/imagenetlt_resnext50_crt/split_acc_delta_vs_rho.svg
  results/main/imagenetlt_resnext50_lws/split_acc_delta_vs_rho.svg
  results/main/imagenetlt_resnext50_ride/split_acc_delta_vs_rho.svg
  results/main/placeslt_resnet152_crt/split_acc_delta_vs_rho.svg
  results/main/placeslt_resnet152_lws/split_acc_delta_vs_rho.svg
  results/nnsweep_cosine/imagenetlt_resnext50_crt/rho_0.25/split_acc_vs_k.svg
  results/nnsweep_cosine/imagenetlt_resnext50_crt/rho_0.5/split_acc_vs_k.svg
  results/nnsweep_cosine/imagenetlt_resnext50_crt/rho_1/split_acc_vs_k.svg
  results/nnsweep_cosine/imagenetlt_resnext50_crt/rho_2/split_acc_vs_k.svg
  results/nnsweep_euclidean/imagenetlt_resnext50_crt/rho_0.25/split_acc_vs_k.svg
  results/nnsweep_euclidean/imagenetlt_resnext50_crt/rho_0.5/split_acc_vs_k.svg
  results/nnsweep_euclidean/imagenetlt_resnext50_crt/rho_1/split_acc_vs_k.svg
  results/nnsweep_euclidean/imagenetlt_resnext50_crt/rho_2/split_acc_vs_k.svg
  results/randomnns/cifar100_resnet32_ltr/split_acc_delta_vs_rho.svg
  results/randomnns/cifar100_resnet32_ride/split_acc_delta_vs_rho.svg
  results/randomnns/imagenetlt_resnext50_crt/split_acc_delta_vs_rho.svg
  results/randomnns/imagenetlt_resnext50_lws/split_acc_delta_vs_rho.svg
  results/randomnns/imagenetlt_resnext50_ride/split_acc_delta_vs_rho.svg
  results/randomnns/placeslt_resnet152_crt/split_acc_delta_vs_rho.svg
  results/randomnns/placeslt_resnet152_lws/split_acc_delta_vs_rho.svg
Due: none

Clean up gitignore
  .gitignore
Due: none

ci: deploy with paje
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_025_dark.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_05_dark.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_1_dark.svg
  figures/appendix/euclidean_cosine_split_accs_vs_k_imagenetlt_crt_rho_2_dark.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_025.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_025_dark.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_05.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_05_dark.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_1.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_1_dark.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_2.svg
  figures/appendix/ks_alpha_dists_cosine_imagenetlt_crt_rho_2_dark.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_025.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_025_dark.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_05.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_05_dark.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_1.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_1_dark.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_2.svg
  figures/appendix/ks_alpha_dists_euclidean_imagenetlt_crt_rho_2_dark.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_05.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_05_dark.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_1.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_1_dark.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_2.svg
  figures/appendix/ks_alpha_dists_imagenetlt_crt_rho_2_dark.svg
  figures/doggies.svg
  figures/doggies_dark.svg
  index.html
Due: none

Remove poetry and pyproject.toml
  .isort.cfg
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  LICENSE
  README.md
  alphanet/_dataset.py
  alphanet/plot.py
  alphanet/train.py
  paper/main.pdf
  paper/tables/appendix/main/inatlt_resnet152_crt/acc_nn_adjusted_top1.md
  paper/tables/appendix/main/inatlt_resnet152_crt/acc_top1.md
  paper/tables/appendix/main/inatlt_resnet152_crt/acc_top5.md
  paper/tables/appendix/randomnns/inatlt_resnet152_crt/acc_top1.md
  paper/tables/appendix/randomnns/inatlt_resnet152_crt/acc_top5.md
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
Due: black, isort, pylint, mypy, pydocstyle, cspell, mdc

Add paper url
  paper/main.md
  paper/main.pdf
Due: cspell, mdc

More temp
  alphanet/_utils.py
  alphanet/plot.py
  nb_plot_acc_deltas_vs_rhos.ipynb
  run_plot_acc_deltas_vs_rhos.py
  run_printres.py
Due: black, isort, pylint, mypy, pydocstyle, nbstrip

Add cb loss
  .pre-commit-config.yaml
  alphanet/train.py
  nb_plot_acc_deltas_vs_rhos.ipynb
Due: black, isort, pylint, mypy, pydocstyle, nbstrip

Add another plot script
  run_plot_acc_deltas_vs_rhos.py
Due: black, isort, pylint, mypy, pydocstyle

Add new cifar figures
  paper/figures/_www/appendix/acc_deltas_vs_rhos_top1.svg
  paper/figures/_www/appendix/acc_deltas_vs_rhos_top1_dark.svg
  paper/figures/_www/appendix/acc_deltas_vs_rhos_top5.svg
  paper/figures/_www/appendix/acc_deltas_vs_rhos_top5_dark.svg
  paper/figures/_www/appendix/cls_deltas_cifarlt_ltr.svg
  paper/figures/_www/appendix/cls_deltas_cifarlt_ltr_dark.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr_dark.svg
  paper/figures/appendix/acc_deltas_vs_rhos_top1.pgf
  paper/figures/appendix/acc_deltas_vs_rhos_top5.pgf
  paper/figures/appendix/cls_deltas_cifarlt_ltr.pgf
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img0.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img1.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img2.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img3.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img4.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img5.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img6.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img7.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr-img8.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.pgf
Due: mdc

ci: deploy with paje
  figures/appendix/acc_deltas_vs_rhos_top1.svg
  figures/appendix/acc_deltas_vs_rhos_top1_dark.svg
  figures/appendix/acc_deltas_vs_rhos_top5.svg
  figures/appendix/acc_deltas_vs_rhos_top5_dark.svg
  figures/appendix/cls_deltas_cifarlt_ltr.svg
  figures/appendix/cls_deltas_cifarlt_ltr_dark.svg
  figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr.svg
  figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ltr_dark.svg
Due: none

Update stuff
  paper/figures/_www/appendix/cls_deltas_cifarlt_ride.svg
  paper/figures/_www/appendix/cls_deltas_cifarlt_ride_dark.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride.svg
  paper/figures/_www/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride_dark.svg
  paper/figures/appendix/cls_deltas_cifarlt_ride.pgf
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img0.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img1.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img2.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img3.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img4.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img5.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img6.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img7.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride-img8.png
  paper/figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride.pgf
  paper/tables/cifarlt_ltr_short.md
  paper/tables/imagenetlt_cifarlt_ride_short.md
  paper/tables/imagenetlt_placeslt_baselines.md
  run_makeplot.py
  run_printres.py
Due: black, isort, pylint, mypy, pydocstyle, cspell, mdc

ci: deploy with paje
  figures/appendix/cls_deltas_cifarlt_ride.svg
  figures/appendix/cls_deltas_cifarlt_ride_dark.svg
  figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride.svg
  figures/appendix/rhos_cls_delta_vs_nndist_cifarlt_ride_dark.svg
  index.html
Due: none

Fix tables
  paper/main.pdf
  paper/sections/1_intro.md
  paper/sections/4_experiments.md
  paper/sections/5_conclusion.md
  paper/tables/appendix/models_split_semantic4_accs_vs_rho_imagenetlt.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_cifarlt.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_imagenetlt.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_inatlt.md
  paper/tables/appendix/models_split_top1_accs_vs_rho_placeslt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_cifarlt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_imagenetlt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_inatlt.md
  paper/tables/appendix/models_split_top5_accs_vs_rho_placeslt.md
  paper/tables/appendix/rhos_split_top1_accs_vs_k_imagenetlt_crt_cosine.md
  paper/tables/appendix/rhos_split_top1_accs_vs_k_imagenetlt_crt_euclidean.md
  paper/tables/appendix/rhos_split_top5_accs_vs_k_imagenetlt_crt_cosine.md
  paper/tables/appendix/rhos_split_top5_accs_vs_k_imagenetlt_crt_euclidean.md
  paper/tables/datasets_baselines_split_accs_vs_rho.md
  paper/tables/datasets_split_accs_vs_rho_ltr.md
  paper/tables/datasets_split_accs_vs_rho_ride.md
  run_gentables.sh
Due: cspell, mdc

ci: deploy with paje
  index.html
Due: none

Path conditions:
  black: any of: \.py$, \.ipynb$
  isort: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pydocstyle: any of: \.py$
  nbstrip: any of: \.ipynb$
  cspell: any of: paper/.*\.md|README\.md
  mdc: any of: paper/.*
